In [14]:
from utils_data import *
from utils_classification import GaussianDiscriminantAnalysisRadialBasisFunction

In [15]:
data = PopulationData().load_raw("../../data/raw/train.csv")
data.data_df.head()

,Population,Index_Patient,Infected,Age,Constitution,Behaviour,Connections,ID
id,,,,,,,,
0,A0,0,1,49,0.347675,2,"['A0#IVLTZG3RF7', 'A0#GDVTM92M4X', 'A0#E3KE282M20', 'A0#34O469LVBT', 'A0#C83M4LPGI0', 'A0#VLW8RUG1GA', 'A0#3UTLPNA23H']",A0#ATLCN9GSI2
1,A0,0,1,80,0.324719,1,"['A0#ATLCN9GSI2', 'A0#WXSEW8BMOE', 'A0#R3RP991B5M', 'A0#Z8AFTLIF3B', 'A0#PH34JYVUOC', 'A0#9E04PFG4VP', 'A0#NOPF93VKB6']",A0#IVLTZG3RF7
2,A0,0,1,71,0.583583,1,"['A0#ATLCN9GSI2', 'A0#BLHYYW2QEY', 'A0#VO1AA392H9', 'A0#KHHHQ17NKI', 'A0#NGIM7OP7UD', 'A0#9F0VBKRJSO', 'A0#AD91CLLDIN']",A0#GDVTM92M4X
3,A0,0,1,60,0.439978,2,"['A0#ATLCN9GSI2', 'A0#VB5UO8QC2P', 'A0#AFIME21P1P', 'A0#G1CBWM74IP', 'A0#AJY8AEJD42', 'A0#Y7D11CQLX0', 'A0#EMDSR9E02X']",A0#E3KE282M20
4,A0,0,1,49,0.553221,1,"['A0#IVLTZG3RF7', 'A0#RP7WNXHVEN', 'A0#051ESMGVNA', 'A0#GM32NM2SMY', 'A0#YLLD165ZNX', 'A0#TF2WX3L2FU', 'A0#JFO8IOFM43']",A0#WXSEW8BMOE

In [16]:
data.encode_connection_lists().encode_degree_centrality()
data.data_df.head()

,Population,Index_Patient,Infected,Age,Constitution,Behaviour,Connections,ID,Degrees
id,,,,,,,,,
0,A0,0,1,49,0.347675,2,"[A0#IVLTZG3RF7, A0#GDVTM92M4X, A0#E3KE282M20, A0#34O469LVBT, A0#C83M4LPGI0, A0#VLW8RUG1GA, A0#3UTLPNA23H]",A0#ATLCN9GSI2,7
1,A0,0,1,80,0.324719,1,"[A0#ATLCN9GSI2, A0#WXSEW8BMOE, A0#R3RP991B5M, A0#Z8AFTLIF3B, A0#PH34JYVUOC, A0#9E04PFG4VP, A0#NOPF93VKB6]",A0#IVLTZG3RF7,7
2,A0,0,1,71,0.583583,1,"[A0#ATLCN9GSI2, A0#BLHYYW2QEY, A0#VO1AA392H9, A0#KHHHQ17NKI, A0#NGIM7OP7UD, A0#9F0VBKRJSO, A0#AD91CLLDIN]",A0#GDVTM92M4X,7
3,A0,0,1,60,0.439978,2,"[A0#ATLCN9GSI2, A0#VB5UO8QC2P, A0#AFIME21P1P, A0#G1CBWM74IP, A0#AJY8AEJD42, A0#Y7D11CQLX0, A0#EMDSR9E02X]",A0#E3KE282M20,7
4,A0,0,1,49,0.553221,1,"[A0#IVLTZG3RF7, A0#RP7WNXHVEN, A0#051ESMGVNA, A0#GM32NM2SMY, A0#YLLD165ZNX, A0#TF2WX3L2FU, A0#JFO8IOFM43]",A0#WXSEW8BMOE,7

In [17]:
data.drop_population().drop_index_patient().drop_connections().drop_id()
data.data_df.head()

    Infected  Age  Constitution  Behaviour  Degrees
id
0          1   49      0.347675          2        7
1          1   80      0.324719          1        7
2          1   71      0.583583          1        7
3          1   60      0.439978          2        7
4          1   49      0.553221          1        7

In [18]:
data.encode_test_train()
data.data_df.head()

    Infected  Age  Constitution  Behaviour  Degrees  Train   Test
id
0          1   49      0.347675          2        7  False   True
1          1   80      0.324719          1        7   True  False
2          1   71      0.583583          1        7  False   True
3          1   60      0.439978          2        7   True  False
4          1   49      0.553221          1        7   True  False

In [19]:
train_x = data.get_data_numpy(train='train', x='x')
train_y = data.get_data_numpy(train='train', x='y')
test_x = data.get_data_numpy(train='test', x='x')
test_y = data.get_data_numpy(train='test', x='y')
train_x[0:5]

array([[80.        ,  0.32471936,  1.        ,  7.        ],
       [60.        ,  0.43997762,  2.        ,  7.        ],
       [49.        ,  0.5532212 ,  1.        ,  7.        ],
       [72.        ,  0.44471662,  1.        ,  7.        ],
       [47.        ,  0.34156792,  1.        ,  6.        ]])

In [20]:
model = GaussianDiscriminantAnalysisRadialBasisFunction()
model.fit(train_x, train_y)
accuracy = model.score(test_x, test_y)
print(accuracy)

0.5161384615384615