In [1]:
from utils_data import *
from utils_classification import GaussianDiscriminantAnalysisRadialBasisFunction

In [2]:
data = PopulationData().load_raw("../../data/raw/train.csv")
data.data_df.head()

,Population,Index_Patient,Infected,Age,Constitution,Behaviour,Connections,ID
id,,,,,,,,
0,A0,0,1,49,0.347675,2,"['A0#IVLTZG3RF7', 'A0#GDVTM92M4X', 'A0#E3KE282...",A0#ATLCN9GSI2
1,A0,0,1,80,0.324719,1,"['A0#ATLCN9GSI2', 'A0#WXSEW8BMOE', 'A0#R3RP991...",A0#IVLTZG3RF7
2,A0,0,1,71,0.583583,1,"['A0#ATLCN9GSI2', 'A0#BLHYYW2QEY', 'A0#VO1AA39...",A0#GDVTM92M4X
3,A0,0,1,60,0.439978,2,"['A0#ATLCN9GSI2', 'A0#VB5UO8QC2P', 'A0#AFIME21...",A0#E3KE282M20
4,A0,0,1,49,0.553221,1,"['A0#IVLTZG3RF7', 'A0#RP7WNXHVEN', 'A0#051ESMG...",A0#WXSEW8BMOE

In [3]:
data.encode_connection_lists().encode_degree_centrality().encode_mean_neighbor_age().encode_mean_neighbor_constitution().encode_mean_neighbor_behaviour()
data.data_df.head()

,Population,Index_Patient,Infected,Age,Constitution,Behaviour,Connections,ID,Degrees,Mean_Neighbor_Age,Mean_Neighbor_Constitution,Mean_Neighbor_Behaviour
id,,,,,,,,,,,,
0,A0,0,1,49,0.347675,2,"[A0#IVLTZG3RF7, A0#GDVTM92M4X, A0#E3KE282M20, ...",A0#ATLCN9GSI2,7,61.857143,0.424822,1.285714
1,A0,0,1,80,0.324719,1,"[A0#ATLCN9GSI2, A0#WXSEW8BMOE, A0#R3RP991B5M, ...",A0#IVLTZG3RF7,7,55.571429,0.467239,1.285714
2,A0,0,1,71,0.583583,1,"[A0#ATLCN9GSI2, A0#BLHYYW2QEY, A0#VO1AA392H9, ...",A0#GDVTM92M4X,7,48.714286,0.398605,1.142857
3,A0,0,1,60,0.439978,2,"[A0#ATLCN9GSI2, A0#VB5UO8QC2P, A0#AFIME21P1P, ...",A0#E3KE282M20,7,52.142857,0.502539,1.142857
4,A0,0,1,49,0.553221,1,"[A0#IVLTZG3RF7, A0#RP7WNXHVEN, A0#051ESMGVNA, ...",A0#WXSEW8BMOE,7,56.571429,0.421669,0.857143

In [4]:
data.drop_population().drop_index_patient().drop_connections().drop_id()
data.data_df.head()

,Infected,Age,Constitution,Behaviour,Degrees,Mean_Neighbor_Age,Mean_Neighbor_Constitution,Mean_Neighbor_Behaviour
id,,,,,,,,
0,1,49,0.347675,2,7,61.857143,0.424822,1.285714
1,1,80,0.324719,1,7,55.571429,0.467239,1.285714
2,1,71,0.583583,1,7,48.714286,0.398605,1.142857
3,1,60,0.439978,2,7,52.142857,0.502539,1.142857
4,1,49,0.553221,1,7,56.571429,0.421669,0.857143

In [5]:
data.encode_test_train()
data.data_df.head()

,Infected,Age,Constitution,Behaviour,Degrees,Mean_Neighbor_Age,Mean_Neighbor_Constitution,Mean_Neighbor_Behaviour,Train,Test
id,,,,,,,,,,
0,1,49,0.347675,2,7,61.857143,0.424822,1.285714,True,False
1,1,80,0.324719,1,7,55.571429,0.467239,1.285714,True,False
2,1,71,0.583583,1,7,48.714286,0.398605,1.142857,True,False
3,1,60,0.439978,2,7,52.142857,0.502539,1.142857,True,False
4,1,49,0.553221,1,7,56.571429,0.421669,0.857143,True,False

In [6]:
train_x = data.get_data_numpy(train='train', x='x')
train_y = data.get_data_numpy(train='train', x='y')
test_x = data.get_data_numpy(train='test', x='x')
test_y = data.get_data_numpy(train='test', x='y')
train_x[0:5]

array([[49.        ,  0.34767515,  2.        ,  7.        , 61.85714286,
         0.42482169,  1.28571429],
       [80.        ,  0.32471936,  1.        ,  7.        , 55.57142857,
         0.46723907,  1.28571429],
       [71.        ,  0.58358327,  1.        ,  7.        , 48.71428571,
         0.39860488,  1.14285714],
       [60.        ,  0.43997762,  2.        ,  7.        , 52.14285714,
         0.50253928,  1.14285714],
       [49.        ,  0.5532212 ,  1.        ,  7.        , 56.57142857,
         0.42166862,  0.85714286]])

In [7]:
model = GaussianDiscriminantAnalysisRadialBasisFunction()
model.fit(train_x, train_y)
accuracy = model.score(test_x, test_y)
print(accuracy)

0.513623076923077